[masters]
master ansible_host="${master_ip}" ansible_user=root ansible_password="${root_pass}" ansible_become_pass="${root_pass}" ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[workers]
%{ for index, ip in workers_ips ~}
worker-${index} ansible_host=${ip} ansible_user=root ansible_password="${root_pass}" ansible_become_pass="${root_pass}" ansible_ssh_common_args='-o StrictHostKeyChecking=no'
%{ endfor ~}